section
{
background-color:antiquewhite;
display: center;
padding: 15px;
margin: 15px;
border: solid 10px;
width: 900px;
}
p
{
    background-color: grey;
    margin: auto;
 font-family:auto;
 display: auto;
 background-origin: padding-box;
}
header
{
    background-color: grey;
    margin: auto;
 font size: 15px;
 display: center;
 
 border: solid royalblue;
}
img{
    display:center;
    font-size: medium;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 20px;
    margin: center;
    border-radius: 10px;
    background-color: beige;
}
footer{
display:center ;
background-color:rgb(196, 235, 117);
margin: auto;
font: family 20px;

border: solid royalblue;
}
div#bloock{
    display: inline;
    margin-right: auto;
    border-radius: 10%;
    padding: 10px;
}
article{
    display: right;
    font-family: 'Courier New', Courier, monospace;
    border: 10px;
    padding: 10px;
}
 {
    
@media ::content {
    
}
    
}